<a href="https://colab.research.google.com/github/Huxaifax/Classical_Machine_Learning/blob/main/Diabetes_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [68]:
df = pd.read_csv("/content/diabetes.csv")
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [69]:
df.shape

(768, 9)

In [70]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [71]:
df.groupby(['Outcome']).mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [72]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [73]:
#scaler = MinMaxScaler()
#a = scaler.fit_transform(df[["Pregnancies"]])
# make a copy of dataframe
scaled_features = df.copy()

col_names = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness','BMI','Insulin','Age','DiabetesPedigreeFunction']
features = scaled_features[col_names]

# Use scaler of choice; here Standard scaler is used
features = MinMaxScaler().fit_transform(features.values)
#features = scaler.transform(features.values)

scaled_features[col_names] = features
scaled_features.head()

   Pregnancies   Glucose  ...       Age  Outcome
0     0.352941  0.743719  ...  0.483333        1
1     0.058824  0.427136  ...  0.166667        0
2     0.470588  0.919598  ...  0.183333        1
3     0.058824  0.447236  ...  0.000000        0
4     0.000000  0.688442  ...  0.200000        1

[5 rows x 9 columns]

In [74]:
#df_x = scaled_features
df_x = scaled_features.drop(['Outcome'], axis=1)
df_y = df["Outcome"]

In [77]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
df_x, df_y = smote.fit_resample(df_x, df_y)

df_y.value_counts()

1    500
0    500
Name: Outcome, dtype: int64

In [78]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.1, random_state=10,stratify=df_y)

In [79]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [80]:
accuracy_score(y_test,y_pred)

0.76

In [81]:
confusion_matrix(y_test,y_pred)

array([[34, 16],
       [ 8, 42]])

In [82]:
from sklearn import svm
model2 = svm.SVC()
model2.fit(X_train,y_train)
y_pred2 = model2.predict(X_test)

In [83]:
accuracy_score(y_test,y_pred2)

0.81

In [84]:
model3 = LogisticRegression()
model3.fit(X_train,y_train)
y_pred3 = model3.predict(X_test)

In [85]:
accuracy_score(y_test,y_pred3)

0.76

In [86]:
model3.predict([[0.470588,	0.919598,	0.524590,	0.000000,	0.000000,	0.347243,	0.253629,	0.183333]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1])